<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="https://uk.linkedin.com/in/j-hawkins">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:james.hawkins+blog@hiberly.com">email</a></li>
	        		<li><a href="https://github.com/jamesefhawkins">github.com/jamesefhawkins</a></li>
				<li><a href="https://twitter.com/james406">Twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>
