<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include analytics.html %}
		</head>
		<body>
			
			<div class="left">&nbsp;</div>

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
			<nav>
                        <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/blog">Blog</a></li>
				<li><a href="/reading">Reading</a></li>
				<li><a href="/todo">Todo</a></li>
				<li><a href="/contact">Contact</a></li>                                
                        </ul>
                        </nav>

			<footer>
				<a href="https://jefhawkins.com/blog/atom.xml">RSS</a>	
			</footer>
		</body>
	</html>
